::-moz-selection {
	color: var(--bg);
	background: var(--tx);
	text-shadow: none;
}

::selection {
	color: var(--bg);
	background: var(--tx);
	text-shadow: none;
}

body {
	background-color: var(--bg);
	color: var(--tx);
}

canvas,
#_,
.p,
.p_ {
	position: absolute;
}

canvas,
#_,
.p,
.p_ {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

canvas {
	pointer-events: none;
}

#_ {
	position: absolute;
	top: 0;

	left: var(--m);

	color: var(--tx);
	width: calc(100vw - (var(--m) * 2));
	height: 100%;

	box-sizing: border-box;
}

._s-l path {
	fill: var(--tx);
}
