::-moz-selection {
	color: var(--bg);
	background: var(--tx);
	text-shadow: none;
}

::selection {
	color: var(--bg);
	background: var(--tx);
	text-shadow: none;
}

body {
	background-color: var(--bg);
	color: var(--tx);
}

body {
	position: relative;
	background: var(--bg);
}

body._ns {
	overflow: hidden;
}

#m {
	position: relative;

	color: var(--tx);

	box-sizing: border-box;
}

#lo {
	position: fixed;

	top: 0;
	left: 0;
	z-index: 9995;
}

#lo-bg {
	background-color: var(--bg);
}

#lo,
#lo-bg {
	width: 100%;
	height: 100%;
}

.r {
	width: 100%;
	height: 100%;

	-o-object-fit: cover;
	object-fit: cover;

	transition: opacity 600ms var(--io2);
}

.r-o {
	opacity: 0;
	will-change: opacity;
}

.r-o.on {
	opacity: 1;
}

.y_ {
	overflow: hidden;
}

.y_,
.y {
	display: block;
}

.y_:not(:first-child) {
	text-indent: 0;
}

.y {
	position: relative;
	will-change: transform;
	transform: translate3d(0, 102%, 0);
	white-space: normal;
}

._s-l path {
	fill: var(--tx);
}
