.t-br {
	position: relative;

	& span::before {
		content: "[\00a0\00a0";
	}

	& span::after {
		content: "\00a0\00a0]";
	}
}

#logo {
	position: relative;
	pointer-events: none;
}

#logo-t {
	opacity: 0;
}

#logo-t path {
	fill: var(--tx);
}

#logo-c {
	position: absolute;
	top: 0;

	& > circle {
		stroke: var(--tx);
	}

	#c1 {
		transform: rotate(180deg);
		transform-origin: 72%;
	}
}
