.pl-li_ {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--m);
	row-gap: calc(80 * var(--vw));

	padding: calc(260 * var(--vw)) 0 calc(80 * var(--vw));
}

.pl-li {
	&:nth-child(17n + 3),
	&:nth-child(17n + 10),
	&:nth-child(17n + 16) {
		margin-left: calc(315 * var(--vw));
	}

	&:nth-child(17n + 5),
	&:nth-child(17n + 15) {
		margin-left: calc(391 * var(--vw));
	}

	&:nth-child(17n + 7),
	&:nth-child(17n + 13) {
		margin-left: calc(315 * var(--vw));
	}

	& ._me {
		display: block;
		width: calc(351.25 * var(--vw));
		aspect-ratio: 0.838;
	}

	& h2 {
		padding-top: calc(20 * var(--vw));

		font-size: calc(22 * var(--vw));
		line-height: 1;
		font-weight: 600;
	}

	& span {
		display: block;
		padding-top: calc(10 * var(--vw));

		font-family: "IBM Plex Serif", serif;
		font-size: calc(18 * var(--vw));
		line-height: 1;
		letter-spacing: calc(18 * 4 / 100 * var(--vw));
		color: var(--ac);
	}
}

#pl-p {
	opacity: 0;
	pointer-events: none;
}

#pl-p,
#pl-p ul {
	position: relative;
	width: 100%;
	height: 100%;
}

#pl-p .pl-p-li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	overflow: hidden;

	& img {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;

		will-change: transform;
	}
}
