.pl-li_ {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--m);
	row-gap: calc(80 * var(--vw));

	padding: calc(260 * var(--vw)) 0 calc(80 * var(--vw));
}

.pl-li {
	cursor: pointer;

	&:nth-child(17n + 3),
	&:nth-child(17n + 10),
	&:nth-child(17n + 16) {
		margin-left: calc(315 * var(--vw));
	}

	&:nth-child(17n + 5),
	&:nth-child(17n + 15) {
		margin-left: calc(391 * var(--vw));
	}

	&:nth-child(17n + 7),
	&:nth-child(17n + 13) {
		margin-left: calc(315 * var(--vw));
	}

	& * {
		pointer-events: none;
	}

	& ._me {
		display: block;
		width: calc(351.25 * var(--vw));
		aspect-ratio: 0.838;
	}

	& h2 {
		padding-top: calc(20 * var(--vw));

		font-size: calc(22 * var(--vw));
		line-height: 1;
		font-weight: 600;
	}

	& span {
		display: block;
		padding-top: calc(10 * var(--vw));

		font-family: "IBM Plex Serif", serif;
		font-size: calc(18 * var(--vw));
		line-height: 1;
		letter-spacing: calc(18 * 4 / 100 * var(--vw));
		color: var(--ac);
	}
}

#pl-p {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: var(--m) 0;

	box-sizing: border-box;

	opacity: 0;
	z-index: 2;
}

#pl-p-bg {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: var(--bg);
	opacity: 0;
	z-index: 1;
}

#pl-p_ {
	position: relative;
	width: 100%;
	height: 100vh;
}

#pl-p,
#pl-p > ul {
	position: relative;
	width: 100%;
	height: 100%;
}

#pl-p_,
#pl-p,
#pl-p > ul,
#pl-p .pl-p-li {
	pointer-events: none;
}

#pl-p > ul {
	width: calc((var(--c) * 12) + (var(--g) * 11));
	height: calc(916 * var(--vw));
	aspect-ratio: 1.778;
	left: var(--m);
}

#pl-p .pl-p-li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	clip-path: inset(0 100% 0 0);

	overflow: hidden;

	&:first-child {
		clip-path: inset(0 0 0 0);
	}

	& img {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;

		will-change: transform;
	}
}

#pl-p > div:first-child {
	position: relative;
	left: var(--m);
	width: calc(var(--c) * 12 + var(--g) * 11);
	height: 1.1lh;

	display: flex;
	justify-content: space-between;
	column-gap: var(--g);

	overflow: hidden;

	font-size: calc(20 * var(--vw));
	line-height: 1.2;
	letter-spacing: calc(20 * 4 / 100 * var(--vw));

	& #pl-p-co {
		position: relative;
		width: calc(var(--c) * 5 + var(--g) * 4);

		& li {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: flex;
			align-items: center;
			column-gap: var(--g);

			transform: translate3d(0, 110%, 0);
		}

		& li:first-child {
			transform: translate3d(0, 0, 0);
		}
	}

	& .pl-p-ti {
		position: relative;
		width: calc(var(--c) * 2 + var(--g));
		height: 100%;

		display: flex;
		align-items: center;

		font-weight: 600;
	}

	& .pl-p-de {
		position: relative;
		width: calc(var(--c) * 3 + var(--g) * 2);
		height: 100%;

		display: flex;
		align-items: center;

		font-size: calc(18 * var(--vw));
		letter-spacing: calc(18 * 4 / 100 * var(--vw));
		font-family: "IBM Plex Serif", serif;
	}

	& #pl-p-pagi_ {
		font-size: calc(16 * var(--vw));
		line-height: 1;
		letter-spacing: calc(16 * 4 / 100 * var(--vw));
		width: calc(var(--c) * 2 + var(--g));

		display: flex;
		align-items: center;
		justify-content: center;

		& #pl-p-pagi {
			width: fit-content;
			margin: 0 auto;
			display: inline-block;
		}
	}

	& #pl-p-cta_ {
		width: calc(var(--c) * 3 + var(--g) * 2);

		font-size: calc(18 * var(--vw));
		line-height: 1;
		letter-spacing: calc(18 * 4 / 100 * var(--vw));
		font-weight: 400;

		display: flex;
		align-items: center;
		justify-content: flex-end;

		& #pl-p-cta {
			display: flex;
			column-gap: var(--g);

			cursor: pointer;
		}

		& svg {
			aspect-ratio: 1.117;
			width: auto;
			height: 1lh;
		}

		& span {
			display: inline-block;
		}
	}

	& #pl-p-cl_ {
		position: relative;
		width: calc(var(--c) * 2 + var(--g));

		display: flex;
		justify-content: flex-end;
		align-items: center;

		font-size: calc(20 * var(--vw));
		letter-spacing: calc(20 * 4 / 100 * var(--vw));
		line-height: 1;
		font-weight: 600;

		& #pl-p-cl {
			cursor: pointer;

			& * {
				pointer-events: none;
			}
		}
	}
}
