#g_ {
	position: fixed;
	inset: 0;

	display: flex;
	justify-content: center;

	opacity: 0.15;
	z-index: 9997;

	pointer-events: none;
}

#g_.o {
	opacity: 0.3;
}

#g {
	width: calc(100vw - (var(--m) * 2));
	height: 100%;
	display: flex;
	justify-content: space-between;
}

#g > div {
	position: relative;
	float: left;
	width: var(--c);
	height: 100%;
	background: red;
}
