.wo-p {
	position: absolute;
	top: calc(254 * var(--vw));
	right: calc((2.5 + 0.035) * var(--vw));
	width: var(--c);
}

.wo-p-c {
	position: relative;
	width: calc(var(--c) - (var(--g) * 0.1));
	left: calc(var(--g) * 0.1);

	& * {
		pointer-events: none;
	}

	& > * {
		opacity: 0;
	}
}

.wo-p-i {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--c);
	height: calc(((var(--c) * 6) + (var(--g) * 5)) * 0.838 * 0.098);
	border: 1px solid var(--tx);
	opacity: 0;
	will-change: opacity;

	pointer-events: none;
}

.wo-he,
.wo-p-he {
	display: flex;
}

.wo-he-ba {
	position: relative;
	width: calc((var(--c) * 6) + (var(--g) * 5));
	aspect-ratio: 0.838;
	height: 100vh;

	& ._me {
		width: 100%;
		height: 100%;
	}
}

.wo-p-he-ba {
	position: relative;
	width: calc(((var(--c) * 6) + (var(--g) * 5)) * 0.1);
	height: calc(((var(--c) * 6) + (var(--g) * 5)) * 0.838 * 0.1);
	aspect-ratio: 0.838;

	& ._me {
		width: 100%;
		height: 100%;
	}
}

.wo-he > div:last-child,
.wo-p-he > div:last-child {
	flex-grow: 1;

	display: grid;
	grid-template-columns: 1fr;

	box-sizing: border-box;
}

.wo-he > div:last-child {
	height: 100vh;

	padding-left: calc(var(--c) + var(--g));
	padding-top: calc(60 * var(--vw));
	padding-bottom: calc(40 * var(--vw));
}

.wo-p-he > div:last-child {
	padding-left: calc((var(--c) + var(--g)) * 0.1);
	padding-top: calc((60 * var(--vw)) * 0.1);
	padding-bottom: calc((40 * var(--vw)) * 0.1);
}

.wo-he-la,
.wo-p-he-la {
	align-self: flex-start;
	display: flex;
	justify-content: space-between;

	color: var(--tx);

	font-family: "IBM Plex Sans", sans-serif;
	line-height: 1;
}

.wo-he-la {
	font-size: calc(18 * var(--vw));
	letter-spacing: calc(18 * 4 / 100 * var(--vw));
}

.wo-p-he-la {
	font-size: calc(18 * var(--vw) * 0.1);
	letter-spacing: calc(18 * 4 / 100 * var(--vw) * 0.1);
}

.wo-he-la,
.wo-p-he-la {
	& .wo-cl {
		font-weight: 600;
	}
}
.wo-he-la .wo-cl {
	font-size: calc(20 * var(--vw));
	letter-spacing: calc(20 * 4 / 100 * var(--vw));
}

.wo-p-he-la .wo-cl {
	font-size: calc(20 * var(--vw) * 0.1);
	letter-spacing: calc(20 * 4 / 100 * var(--vw) * 0.1);
}

.wo-he-de {
	align-self: flex-start;
	width: calc(var(--c) * 3 + (var(--g) * 3));

	& > span,
	& > p {
		font-family: "IBM Plex Serif", serif;
	}

	& > span {
		display: block;

		font-size: calc(20 * var(--vw));
		line-height: 1.2;
		letter-spacing: calc(20 * 4 / 100 * var(--vw));

		margin-bottom: calc(25 * var(--vw));

		color: var(--ac);
	}

	& > h1 {
		font-size: calc(56 * var(--vw));
		line-height: 1.2;

		font-weight: 500;

		margin-bottom: calc(97 * var(--vw));
	}

	& > p {
		font-size: calc(20 * var(--vw));
		line-height: calc(36 * var(--vw));
		letter-spacing: calc(20 * 2 / 100 * var(--vw));
	}

	& > a {
		margin-top: calc(70 * var(--vw));

		font-size: calc(18 * var(--vw));
		line-height: 1;
		letter-spacing: calc(18 * 4 / 100 * var(--vw));

		& .y {
			display: flex;
			align-items: center;

			column-gap: calc(10 * var(--vw));
		}

		& svg {
			width: calc(17 * var(--vw));
			height: calc(15.21 * var(--vw));
		}
	}
}

.wo-p-he-de {
	align-self: flex-start;
	width: calc((var(--c) * 3 + (var(--g) * 3)) * 0.1);

	& > span,
	& > p {
		font-family: "IBM Plex Serif", serif;
	}

	& > span {
		display: block;

		font-size: calc(20 * var(--vw) * 0.1);
		line-height: 1;
		letter-spacing: calc(20 * 4 / 100 * var(--vw) * 0.1);

		margin-bottom: calc(30 * var(--vw) * 0.1);

		color: var(--ac);
	}

	& > h1 {
		font-size: calc(56 * var(--vw) * 0.1);
		line-height: 1;

		font-weight: 500;

		margin-bottom: calc(103 * var(--vw) * 0.1);
	}

	& > p {
		font-size: calc(20 * var(--vw) * 0.1);
		line-height: calc(36 * var(--vw) * 0.1);
		letter-spacing: calc(20 * 2 / 100 * var(--vw) * 0.1);
	}

	& > a {
		display: flex;
		align-items: center;

		column-gap: calc(10 * var(--vw) * 0.1);
		margin-top: calc(70 * var(--vw) * 0.1);

		font-size: calc(18 * var(--vw) * 0.1);
		line-height: 1;
		letter-spacing: calc(18 * 4 / 100 * var(--vw) * 0.1);

		& svg {
			width: calc(17 * var(--vw) * 0.1);
			height: calc(15.21 * var(--vw) * 0.1);
		}
	}
}

.wo-he-me,
.wo-p-he-me {
	align-self: flex-end;
	color: var(--ac);

	& > span {
		display: block;
	}
}

.wo-he-me {
	font-size: calc(16 * var(--vw));
	line-height: calc(28 * var(--vw));
	letter-spacing: calc(16 * 4 / 100 * var(--vw));
}

.wo-p-he-me {
	font-size: calc(16 * var(--vw) * 0.1);
	line-height: calc(28 * var(--vw) * 0.1);
	letter-spacing: calc(16 * 4 / 100 * var(--vw) * 0.1);
}

.wo-r {
	position: relative;
	left: calc(var(--c) * 2 + (var(--g) * 2));
	width: calc(var(--c) * 8 + (var(--g) * 7));

	box-sizing: border-box;

	&:nth-child(2) {
		padding-top: calc(237 * var(--vw));
	}

	&:not(:last-child) {
		padding-bottom: calc(47.34 * var(--vw));
	}

	&:last-child {
		padding-bottom: calc(80 * var(--vw));
	}

	._me {
		height: 100%;
	}
}

.wo-p-r {
	position: relative;
	margin: 0 auto;
	width: calc(((var(--c) * 8) + (var(--g) * 7)) * 0.1);

	box-sizing: border-box;

	&:nth-child(2) {
		padding-top: calc((237 * var(--vw)) * 0.1);
	}

	&:not(:last-child) {
		padding-bottom: calc((47.34 * var(--vw)) * 0.1);
	}

	&:last-child {
		padding-bottom: calc((80 * var(--vw)) * 0.1);
	}

	._me {
		height: 100%;
	}
}

.wo-f,
.wo-p-f {
	position: relative;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
}

.wo-f {
	height: 100vh;

	column-gap: var(--g);
	padding-top: calc(112.66 * var(--vw));
	padding-bottom: calc(112.66 * var(--vw));
}

.wo-p-f {
	column-gap: calc(var(--g) * 0.1);
	height: calc(((var(--c) * 6) + (var(--g) * 5)) * 0.838 * 0.098);
	padding-top: calc(112.66 * var(--vw) * 0.1);
	padding-bottom: calc(112.66 * var(--vw) * 0.1);
}

.wo-f > div:last-child,
.wo-p-f > div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wo-f-la,
.wo-p-f-la {
	line-height: 1.2;
	font-weight: 400;

	color: var(--ac);

	overflow: hidden;
}

.wo-f-la {
	font-size: calc(18 * var(--vw));
	letter-spacing: calc(18 * 4 / 100 * var(--vw));
}

.wo-p-f-la {
	font-size: calc(18 * var(--vw) * 0.1);
	letter-spacing: calc(18 * 4 / 100 * var(--vw) * 0.1);
}

.wo-f-r,
.wo-p-f-r {
	position: relative;

	display: flex;
	justify-content: center;

	box-sizing: border-box;

	& ._me {
		aspect-ratio: 0.838;
	}
}

.wo-f-de,
.wo-p-f-de {
	position: relative;
}

.wo-f-de-ti,
.wo-p-f-de-ti {
	line-height: 1.2;
	font-weight: 600;
	overflow: hidden;
}

.wo-f-de-ti {
	font-size: calc(48 * var(--vw));
}

.wo-p-f-de-ti {
	font-size: calc(48 * var(--vw) * 0.1);
}

.wo-f-de-se,
.wo-p-f-de-se {
	line-height: 1.2;

	color: var(--ac);

	overflow: hidden;

	& span:not(:last-child)::after {
		content: "";
		display: inline-block;
		position: relative;
		aspect-ratio: 1;

		border-radius: 100%;

		background-color: var(--ac);

		user-select: none;
		pointer-events: none;
	}
}

.wo-f-de-se {
	font-size: calc(16 * var(--vw));
	letter-spacing: calc(16 * 4 / 100 * var(--vw));

	margin-top: calc(20 * var(--vw));
}

.wo-p-f-de-se {
	font-size: calc(16 * var(--vw) * 0.1);
	letter-spacing: calc(16 * 4 / 100 * var(--vw) * 0.1);

	margin-top: calc(20 * var(--vw) * 0.1);
}

@media (max-aspect-ratio: 1.778) {
	.wo-f-r,
	.wo-f > div:last-child {
		width: calc(420 * var(--vw));
		height: calc(536.13 * var(--vw));
	}

	.wo-p-f-r,
	.wo-p-f > div:last-child {
		width: calc(420 * var(--vw) * 0.1);
		height: calc(536.13 * var(--vw) * 0.1);
	}

	.wo-f-de-se span:not(:last-child)::after {
		top: calc(-0.5 * var(--vw));
		width: calc(6 * var(--vw));
		margin: 0 calc(20 * var(--vw));
	}

	.wo-p-f-de-se span:not(:last-child)::after {
		top: calc(-0.5 * var(--vw) * 0.1);
		width: calc(6 * var(--vw) * 0.1);
		margin: 0 calc(20 * var(--vw) * 0.1);
	}
}

@media (min-aspect-ratio: 1.778) {
	.wo-f-r,
	.wo-f > div:last-child {
		width: calc(460 * var(--vh));
		height: calc(536.13 * var(--vh));
	}

	.wo-p-f-r,
	.wo-p-f > div:last-child {
		width: calc(460 * var(--vh) * 0.1);
		height: calc(536.13 * var(--vh) * 0.1);
	}

	.wo-f-de-se span:not(:last-child)::after {
		top: calc(-0.5 * var(--vh));
		width: calc(6 * var(--vh));
		margin: 0 calc(20 * var(--vh));
	}

	.wo-p-f-de-se span:not(:last-child)::after {
		top: calc(-0.5 * var(--vh) * 0.1);
		width: calc(6 * var(--vh) * 0.1);
		margin: 0 calc(20 * var(--vh) * 0.1);
	}
}

.wo-f .f-y_ {
	position: relative;
	display: block;
	overflow: hidden;
}

.wo-f .f-y {
	display: block;
	will-change: transform;
}
