#n {
	position: absolute;
	top: var(--m);
	left: var(--m);
	right: var(--m);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#n0 > svg {
	width: calc(135 * var(--vw));
	height: calc(77 * var(--vw));
}

#n0 > svg > path {
	fill: var(--tx);
}

#n1 {
	display: flex;
	column-gap: calc(100 * var(--vw));
}

#n1 > a {
	position: relative;
	padding: 0 calc(15 * var(--vw));

	transition: 300ms;
}

#n1 > a::before {
	content: "[";
	left: 0;
	transform: translateX(-50%);
}

#n1 > a::after {
	content: "]";
	right: 0;
	transform: translateX(50%);
}

#n1 > a::before,
#n1 > a::after {
	position: absolute;
	top: 0;
	opacity: 0;

	transition: 300ms;
}

#n1 > a:hover,
#n1 > a.on {
	font-weight: 600;

	&::before {
		opacity: 1;
		transform: translateX(0);
	}

	&::after {
		opacity: 1;
		transform: translateX(0);
	}
}

#n2 svg > circle {
	fill: var(--tx-light);
}

#n2 svg > path {
	stroke: var(--tx-light);
}

#n2 svg > path,
#n2 svg > mask {
	fill: var(--bg-light);
}

@media (min-aspect-ratio: 1.778) {
	#n1 a {
		font-size: calc(20 * var(--vh));
		letter-spacing: calc(20 * 4 / 100 * var(--vh));
	}

	#n2 span {
		font-size: calc(18 * var(--vh));
		letter-spacing: calc(18 * 4 / 100 * var(--vh));
	}

	#n2 svg {
		width: calc(28 * var(--vh));
		aspect-ratio: 1;
	}
}

@media (max-aspect-ratio: 1.778) {
	#n1 a {
		font-size: calc(20 * var(--vw));
		letter-spacing: calc(20 * 4 / 100 * var(--vw));
	}

	#n2 span {
		font-size: calc(18 * var(--vw));
		letter-spacing: calc(18 * 4 / 100 * var(--vw));
	}

	#n2 svg {
		width: calc(28 * var(--vw));
		height: calc(28 * var(--vw));
	}
}

#n2 {
	display: flex;
	align-items: center;
	column-gap: calc(20 * var(--vw));
}

#n0,
#n2 {
	cursor: pointer;
}
