#n {
	position: absolute;
	top: var(--m);
	left: 0;
	right: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#n0 > svg {
	width: calc(135 * var(--vw));
	height: calc(77 * var(--vw));
}

#n0 > svg > path {
	fill: var(--tx);
}

#n1 {
	display: flex;
	column-gap: calc(100 * var(--vw));
}

@media (min-aspect-ratio: 1.778) {
	#n1 a {
		font-size: calc(20 * var(--vh));
		letter-spacing: calc(20 * 4 / 100 * var(--vh));
	}

	#n2 span {
		font-size: calc(18 * var(--vh));
		letter-spacing: calc(18 * 4 / 100 * var(--vh));
	}

	#n2 svg {
		width: calc(28 * var(--vh));
		aspect-ratio: 1;
	}
}

@media (max-aspect-ratio: 1.778) {
	#n1 a {
		font-size: calc(20 * var(--vw));
		letter-spacing: calc(20 * 4 / 100 * var(--vw));
	}

	#n2 span {
		font-size: calc(18 * var(--vw));
		letter-spacing: calc(18 * 4 / 100 * var(--vw));
	}

	#n2 svg {
		width: calc(28 * var(--vw));
		height: calc(28 * var(--vw));
	}
}

#n2 {
	display: flex;
	align-items: center;
	column-gap: calc(20 * var(--vw));
}

#n0,
#n2 {
	cursor: pointer;
}
