#n {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	padding: calc(30 * var(--vw)) var(--g);

	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: var(--g);

	background-color: var(--bg);

	box-sizing: border-box;
	z-index: 9995;

	transition: padding 300ms var(--io2);

	&.iss {
		padding-top: calc(10 * var(--vw));
		padding-bottom: calc(10 * var(--vw));
	}
}

#n0,
#n1,
#n2 {
	z-index: 3;
}

#n0,
#n2 {
	width: var(--c);

	& svg {
		pointer-events: none;
	}
}

#n0 {
	aspect-ratio: 1.738;
}

#n2 {
	display: flex;
	justify-content: flex-end;

	& svg {
		width: calc(18 * var(--vw));
		height: calc(18 * var(--vw));
	}
}

#n2 svg > circle {
	fill: var(--tx-light);
}

#n2 svg > path {
	stroke: var(--tx-light);
}

#n2 svg > path,
#n2 svg > mask {
	fill: var(--bg-light);
}

#n1 {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: calc(16 * var(--vw));
	letter-spacing: calc(16 * 4 / 100 * var(--vw));
	line-height: 1.4;
	font-weight: 600;

	width: fit-content;
	will-change: width;
	transition: width 600ms var(--o6);
	overflow: hidden;

	#n1-br-l,
	#n1-br-r {
		position: relative;
		opacity: 0;

		&.on {
			opacity: 1;
			transform: translateX(0);
			transition: transform 1e3ms var(--o6), opacity 600ms;
		}
	}

	#n1-br-l {
		transform: translateX(-100%);

		&::before {
			content: "[\00a0\00a0";
		}
	}

	#n1-br-r {
		transform: translateX(100%);

		&::before {
			content: "\00a0\00a0]";
		}
	}

	& > div {
		overflow: hidden;
		pointer-events: none;
		text-align: center;

		opacity: 0;
		transition: opacity 600ms var(--o6);
		transition-delay: 300ms;
	}

	& > div > div {
		position: relative;
		display: block;

		height: 1lh;
		transform: translate3d(0, 0%, 0);
		transition: transform 1e3ms var(--o6);
		will-change: transform;

		& span {
			display: block;
		}
	}

	& > div.on {
		opacity: 1;
	}

	& > div > div.on {
		transform: translate3d(0, -100%, 0);
	}
}

#n-m {
	z-index: 2;
	padding: 0 var(--m);

	display: grid;
	grid-template-columns: 1fr;
	align-items: flex-end;

	pointer-events: none;

	box-sizing: border-box;
}

#n-m,
#n-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
}

#n-bg {
	opacity: 0;
	background-color: var(--bg);
}

#n-li {
	position: relative;

	font-size: calc(22 * var(--vw));

	& > a {
		display: block;
		padding: calc(20 * var(--vw)) 0;
	}

	& > a.on * {
		pointer-events: none;
	}

	& > a.on > span span {
		position: relative;

		font-weight: 600;

		&::before {
			content: "[\00a0\00a0";
		}

		&::after {
			content: "\00a0\00a0]";
		}
	}
}

#n-f {
	align-self: flex-end;

	padding-bottom: calc(24 * var(--vw));

	box-sizing: border-box;
}
